@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/btns' as btns

.container
  position: absolute
  top: 0
  @include m.media(phone)
    left: 0
  left: f.px(32)
  z-index: 2
  transform: translateY(-120%)
  transition: transform .25s ease-in-out
  &.skipNavLink
    &:hover
      transform: none
    &:focus-visible
      transform: translateY(f.px(32))