@use 'sass:math'
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as g
@use '@/styles/shared/onFocusVisible' as onFocusVisible

.container 
  @include m.media(phone, tablet)
    padding-top: f.px(72)
    padding-bottom: f.px(72)
  @include m.media(laptop, desktop)
    padding-top: f.px(40)
    padding-bottom: f.px(40)
  @include m.dye(bg, c.$omega)
  @include m.dye(c, c.$upsilon)

.wrapper
  @include m.media(laptop, desktop)
    @include m.flex($fd: column)

.top
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.flex

.logo
  &.generalLogo
    & > *
      max-width: 100%
    max-width: f.px(192)
    max-width: max-content
  filter: brightness(0) invert(1)

$item_ld_mr: 7%
.logoNPrivacy,
.navLinks,
.contacts
  margin: 0
  padding: 0
  @include m.media(laptop, desktop)
    @include m.flex($fb: math.div((100% - $item_ld_mr * 2), 3), $ai: flex-start)
    margin-top: f.px(32)
    margin-right: $item_ld_mr
    &:nth-child(4n)
      margin-right: 0
    &:nth-child(-n+4)
      margin-top: 0

.logoNPrivacy
  @include m.flex($fd: column)
  @include m.media(phone, tablet)
    order: 3
    margin-top: f.px(48)

.privacyLinks
  margin: 0
  padding: 0

.privacyLinkItem
  @include m.flex
  margin-top: f.px(24 - 3 - 3)
  font-size: f.px(14)
  &:nth-child(1)
    margin-top: f.px(40 - 3)

.privacyLink
  @include m.media(phone, tablet)
    padding-top: f.px(3)
    padding-bottom: f.px(3)
  @include m.dye(c, c.$upsilon)
  transition: transform 0.1s ease-out
  @include m.media(tablet, laptop, desktop)
    &:hover
      text-decoration: underline
  &:active
    transform: scale(0.98)
  @include onFocusVisible.highlightWithBottomLine($color: c.$upsilon)

.navLinks
  @include m.media(phone, tablet)
    order: 2
    margin-top: f.px(48)
  @include m.media(laptop, desktop)
    @include m.flex($fd: column)

.navLinkItem
  @include m.flex
  margin-top: f.px(24 - 3 - 3)
  font-size: f.px(14)
  &:nth-child(1)
    margin-top: 0

.navLink
  @include m.media(phone, tablet)
    padding-top: f.px(3)
    padding-bottom: f.px(3)
  @include m.dye(c, c.$upsilon)
  transition: transform 0.1s ease-out
  @include m.media(tablet, laptop, desktop)
    &:hover
      text-decoration: underline
  &:active
    transform: scale(0.98)
  @include onFocusVisible.highlightWithBottomLine($color: c.$upsilon)

.contacts
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $ai: flex-start)
    order: 1
    margin-top: f.px(48)
  @include m.media(laptop, desktop)
    @include m.flex($fd: column)

.phoneNumber
  &.generalPhoneNumber
    @include m.media(phone, tablet)
      font-size: f.px(30)
    @include m.media(laptop, desktop)
      font-size: f.px(24)
    line-height: 120%
    @include m.dye(c, c.$upsilon)

.address
  &.generalAddress
    @include m.media(phone, tablet)
      margin-top: f.px(24)
    @include m.media(laptop, desktop)
      margin-top: f.px(28)
    font-size: f.px(14)
    line-height: 110% 
    @include m.dye(c, c.$upsilon)
    & path
      @include m.dye(stroke, c.$upsilon)

.langBtns
  &.GeneralLangBtns
    @include m.media(phone, tablet)
      margin-top: f.px(24)
    @include m.media(laptop, desktop)
      margin-top: f.px(28)
    & a
      font-size: f.px(14)
      line-height: 110%
      @include m.dye(c, c.$upsilon)

.smLinks
  margin: 0
  padding: 0
  margin-top: f.px(24)

.smLinkItem
  @include m.flex

.smIcon
  min-width: f.px(24)
  max-width: f.px(24)

.smLink
  outline: none
  transition: transform 0.1s ease-out
  & path
    transition: stroke 0.15s ease-out
  @include m.media(tablet, laptop, desktop)
    &:hover
      transform: scale(1.02)
      & path
        @include m.dye(stroke, c.$beta)
  &:focus-visible
    transform: scale(1.02)
    & path
      @include m.dye(stroke, c.$beta)
  &:active
    transform: scale(0.98)

.copy
  margin-bottom: 0
  @include m.media(phone, tablet)
    margin-top: f.px(48)
  @include m.media(laptop, desktop)
    margin-top: f.px(40)
    margin-right: auto
    margin-left: auto
  font-size: f.px(12)
  line-height: 110%
  @include m.dye(c, c.$psi)

.phoneTablet
  @include g.phoneTablet
  &.logo
    @include g.phoneTablet

.laptopDesktop
  @include g.laptopDesktop
  &.logo
    @include g.laptopDesktop