@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as g

$container_pt: f.px(14)
.container
  position: relative
  padding-top: $container_pt
  @include m.media(phone)
    padding-bottom: f.px(72)
  @include m.media(tablet)
    padding-bottom: f.px(49)
  @include m.media(laptop, desktop)
    padding-bottom: f.px(95)

.top
  padding-bottom: $container_pt