@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$alpha)

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: f.px(9)
  padding-bottom: f.px(9)

.btns
  display: flex
  justify-content: flex-end
  margin: 0
  padding: 0

.top
  margin-top: f.px(13)
  margin-bottom: f.px(18)

.bottom
  margin-bottom: f.px(8)

.item
  display: flex
  align-items: flex-end
  padding-right: f.px(17)
  padding-left: f.px(17)
  &:nth-last-child(1)
    padding-right: 0
    border-left: f.px(1) solid
    @include m.dye(border, rgba(c.$psi, .5))
    & .link
      min-width: f.px(170)

.link
  display: flex
  flex-direction: column

.linkVal
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$psi)

.linkLabel
  font-size: f.px(10)
  font-weight: 700
  line-height: 120%
  margin-top: f.px(5)
  @include m.dye(c, rgba(c.$psi, .5))