@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c

.container
  position: relative
  display: flex
  align-items: center
  margin-right: f.px(24)
  transition: transform 0.25s ease
  // max-width: f.px(97)
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    z-index: -1
    transform: translate(-50%, -50%)
    @include m.flex
    width: 123%
    height: 123%
    border: f.px(2) solid transparent
    border-radius: f.px(3)
    transition: border-color 0.25s ease
  &:focus-visible
    outline: none
    transform: scale(1.06)
    &::after
      @include m.dye(border, rgba(c.$alpha, .17))
  & .logo
    display: inline-block

.logo
  position: relative
  z-index: 1
  @include m.media(phone, tablet)
    min-width: f.px(74)
    max-width: f.px(74)
  @include m.media(tablet)
    min-width: f.px(60)
    max-width: f.px(60)
  @include m.media(laptop, desktop)
    min-width: f.px(97)
    max-width: f.px(97)

.companyName
  @include m.media(phone)
    margin-left: f.px(16)
    font-size: f.px(10)
  @include m.media(tablet)
    margin-left: f.px(8)
    font-size: f.px(12)
  @include m.media(laptop, desktop)
    margin-left: f.px(24)
    font-size: f.px(18)
  line-height: 140%
  text-transform: uppercase
  max-width: 27ch
  @include m.dye(c, c.$alpha)