@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/section' as section

.container
  @include section.gap

.img
  max-width: f.px(90)

.jobTitle
  padding: f.px(24)
  border: 2px solid
  @include m.dye(border, c.$delta)