@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as g
@use '@/styles/shared/section' as section

.container 
  @include section.gap
  @include m.dye(bg, c.$zeta)

.content
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.flex

.questions
  @include m.media(phone)
    margin-right: 0
    margin-bottom: f.px(48)
  @include m.media(tablet)
    margin-right: 0
    margin-bottom: f.px(64)
  @include m.media(laptop, desktop)
    margin-right: f.px(32)
    
.collapse
  margin-top: f.px(24)
  margin-bottom: f.px(24)
  &:first-child
    @include m.gap($mt: f.px(0))
    margin-top: 0
  &:last-child
    margin-bottom: 0

.text
  margin-bottom: 0
  font-size: f.px(16)
  line-height: 120%
  @include m.dye(c, c.$psi)

.form
  @include m.media(phone, tablet)
    min-width: 100%
    padding: f.px(24)
  @include m.media(laptop, desktop)
    min-width: f.px(384)
    padding: f.px(40)
  @include m.dye(bg, c.$upsilon)
