@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as s

.title
  @include m.media(phone)
    font-size: f.px(36)
  @include m.media(tablet)
    font-size: f.px(32)
  @include m.media(phone, tablet)
    max-width: 17ch
  @include m.media(laptop, desktop)
    max-width: 20ch
    font-size: f.px(64)
  line-height: 110%

.highlight
  @include s.highlight
