@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as s
@use '@/styles/shared/section' as section

.container 
  @include section.gap

.top
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  @include m.media(laptop)
    @include m.flex($jc: space-between)
  @include m.media(desktop)
    @include m.flex($ai: center, $jc: space-between)

.left
  @include m.media(phone, tablet, laptop)
    order: 2
  @include m.media(laptop)
    @include m.flex($d: false, $fb: 75%)
  @include m.media(desktop)
    @include m.flex($d: false, $fb: 48%)

.pTop
  margin-bottom: f.px(16)

.p
  @include m.media(phone, tablet)
    font-size: f.px(16)
  @include m.media(laptop)
    max-width: 65ch
  @include m.media(laptop, desktop)
    font-size: f.px(20)
  line-height: 120%

.pBottom
  margin: 0

.right
  @include m.media(laptop)
    @include m.flex($d: false, $fb: 22%)
    order: 1
  @include m.media(desktop)
    @include m.flex($d: false, $fb: 49%)

.testimonials
  margin: 0
  padding: 0
  @include m.media(phone)
    @include m.flex($fw: wrap, $jc: space-between)
    margin-bottom: f.px(48)
  @include m.media(tablet)
    @include m.flex($fw: wrap, $jc: space-between)
    margin-bottom: f.px(40)
  @include m.media(desktop)
    @include m.flex($fw: wrap)

.testimonial
  @include m.flex($fd: column)
  &:nth-child(4)
    & .testimonialP
      max-width: 100%
  & .testimonialP
    max-width: 17ch
  @include m.media(phone)
    @include m.flex($d: false, $fb: 48%)
    margin-top: f.px(32)
    &:nth-child(-n + 2)
      margin-top: 0
  @include m.media(tablet)
    @include m.flex($d: false, $fb: 23%)
    margin-right: 2%
    &:nth-last-child(1)
      margin-right: 0
  @include m.media(laptop)
    margin-top: f.px(32)
    &:nth-child(1)
      margin-top: 0
    &:nth-child(2)
      & .testimonialP
        max-width: 100%
  @include m.media(desktop)
    margin-top: f.px(64)
    &:nth-child(odd)
      margin-right: 8%
    &:nth-child(-n+2)
      margin-top: 0

.testimonialTitle
  margin-bottom: f.px(16)
  @include m.media(tablet)
    font-size: f.px(24)
  @include m.media(laptop)
    font-size: f.px(48)
    font-weight: 500
  @include m.media(desktop)
    font-size: f.px(72)
    font-weight: 400
  line-height: 110%
  @include m.dye(c, c.$alpha)

.testimonialP
  margin-bottom: 0
  @include m.media(tablet)
    font-size: f.px(16)
  @include m.media(laptop)
    font-size: f.px(20)
  @include m.media(desktop)
    font-size: f.px(24)
  line-height: 120%
  @include m.dye(c, c.$alpha)

.btnsPhoneTabletLaptop
  @include m.media(phone)
    @include m.flex($fd: column)
    margin-top: f.px(48)
  @include m.media(tablet)
    @include m.flex($fd: column)
    margin-top: f.px(40)
  @include m.media(laptop)
    @include m.flex($fd: column)
    margin-top: f.px(64)
  @include m.media(desktop)
    display: none

.btnsDesktop
  @include m.media(phone, tablet, laptop)
    display: none
  @include m.media(desktop)
    @include m.flex($jc: space-between)
    margin-top: f.px(64)

.btn
  @include m.media(laptop, desktop)
    @include m.flex($d: false, $fb: 49%)

.btnLeft
  @include m.media(phone, tablet, laptop)
    margin-bottom: f.px(24)