@use 'sass:math'
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/section' as section

.container
  @include section.gap($bottomOnly: true)

$title_pt_fb: 70%

.heading
  display: flex
  justify-content: space-between
  align-items: center
  @include m.media(phone)
    flex-wrap: wrap
    gap: f.px(16)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(64)

.title
  margin: 0
  @include m.media(phone, tablet)
    flex-basis: $title_pt_fb
    font-size: f.px(36)
    overflow-wrap: break-word
  @include m.media(laptop, desktop)
    font-size: f.px(64)
  font-weight: 700
  line-height: 110%

.programsCounter
  @include m.media(phone, tablet)
  flex-wrap: 100% - $title_pt_fb
  margin: 0
  font-size: f.px(20)
  font-weight: 700
  line-height: 110%
  text-align: right

$left_ld_fb: 32.8%
$left_ld_mr: 2.8%
.underheading
  position: relative
  margin-left: $left_ld_fb + $left_ld_mr

.GeneralSectionTitle
  margin-bottom: f.px(40)

.categories
  min-height: f.px(25)
  overflow-x: auto
  margin: 0
  padding: 0
  padding-top: f.px(1)
  padding-bottom: f.px(10)
  display: flex
  // flex-wrap: wrap
  &::-webkit-scrollbar
    height: f.px(5)
  &::-webkit-scrollbar-thumb
    @include m.dye(bg, rgba(c.$chi, .6))
  @supports(gap: 32px)
    gap: f.px(32)

.categoryItem
  display: flex
  justify-content: center
  align-items: center
  & + .categoryItem
    margin-left: f.px(32)
  @supports(gap: 32px)
    & + .categoryItem
      margin-left: 0

.categoryLink
  display: flex
  justify-content: center
  align-items: center
  font-size: f.px(18)
  font-weight: 500
  line-height: 110%
  outline: none
  @include m.dye(c, c.$omega)
  &.isActive
    font-weight: 700
    @include m.dye(c, c.$beta)
  &:focus-visible
    text-decoration: underline
    & .categoryInfoDescription
      display: block
      @supports(animation: fadeIn .3s ease-in-out forwards)
        opacity: 0
        animation: fadeIn .3s ease-in-out forwards
    & .iconInfo
      & path
        @include m.dye(stroke, c.$upsilon)
        &:nth-child(1)
          @include m.dye(stroke, c.$beta)
      @include m.dye(bg, c.$beta)

.iconInfoContainer
  margin-left: f.px(6)
  border-radius: 50%
  &:hover
    & .categoryInfoDescription
      display: block
      @supports(animation: fadeIn .3s ease-in-out forwards)
        opacity: 0
        animation: fadeIn .3s ease-in-out forwards

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.categoryInfoDescription
  display: none
  @supports(animation: fadeIn .3s ease-in-out forwards)
    opacity: 0
  position: absolute
  z-index: 2
  // bottom: f.px(24 + 23)
  top: f.px(-45)
  right: 0
  min-width: 65%
  max-width: 65%
  padding: f.px(32) f.px(16)
  box-shadow: 0px 0px 24px rgba(218, 218, 218, 0.58)
  font-size: f.px(14)
  font-weight: 400
  line-height: 110%
  transition: opacity 0.15s ease-in-out
  @include m.dye(bg, c.$upsilon)
  @include m.dye(c, c.$psi)
  
.iconInfo
  min-width: f.px(24)
  max-width: f.px(24)
  min-height: f.px(24)
  max-height: f.px(24)
  border-radius: inherit
  transition: background-color 0.15s ease-in-out
  & path
    transition: stroke 0.15s ease-in-out
  &:hover
    & path
      @include m.dye(stroke, c.$upsilon)
      &:nth-child(1)
        @include m.dye(stroke, c.$beta)
    @include m.dye(bg, c.$beta)

.content
  display: flex
  @include m.media(phone, tablet)
    margin-top: f.px(40)
  @include m.media(laptop, desktop)
    margin-top: f.px(64)

.left
  @include m.media(laptop, desktop)
    flex-basis: $left_ld_fb
    margin-right: $left_ld_mr

.right
  @include m.media(phone, tablet)
    flex-basis: 100%
  @include m.media(laptop, desktop)
    flex-basis: 100% - $left_ld_fb - $left_ld_mr

.h3
  margin: 0
  margin-bottom: f.px(51)
  font-size: f.px(40)

.studyFields
  margin: 0
  padding: 0
  display: flex
  flex-direction: column

.studyFieldItem
  display: flex
  flex-basis: 100%
  & + .studyFieldItem
    margin-top: f.px(18 - 4)

.studyFieldBtn
  display: flex
  align-items: center
  flex-basis: 100%
  outline: none
  padding-top: f.px(2)
  padding-bottom: f.px(2)
  @include m.media(tablet, laptop, desktop)
    &:hover
      & .IconCheckAltContainer
        @include m.dye(border, c.$beta)
      & .studyFieldTitle
        font-weight: 500
        @include m.dye(c, c.$beta)
  &:focus-visible
    & .IconCheckAltContainer
      @include m.dye(border, c.$beta)
    & .studyFieldTitle
      font-weight: 500
      @include m.dye(c, c.$beta)
  &:active
    transform: scale(0.99)


.studyFieldTitle
  font-size: f.px(16)
  font-weight: 400
  line-height: 110%
  transition: color .15s ease-in-out, font-weight .15s ease-in-out
  @include m.dye(c, c.$omega)

.IconCheckAltContainer
  display: flex
  justify-content: center
  align-items: center
  min-width: f.px(24)
  max-width: f.px(24)
  min-height: f.px(24)
  max-height: f.px(24)
  margin-right: f.px(16)
  border: 1px solid
  @include m.dye(border, c.$nu)
  transition: border-color .15s ease-in-out
  &.isActive
    @include m.dye(border, c.$beta)
    @include m.dye(bg, c.$beta)

.IconCheckAlt
  min-width: f.px(16)
  max-width: f.px(16)
  min-height: f.px(16)
  max-height: f.px(16)

.studyFieldsBtns
  margin-top: f.px(35)

.btnStudyFieldControl
  outline: none
  font-size: f.px(14)
  font-weight: 400
  line-height: 110%
  transition: transform .15s ease-in-out
  @include m.dye(c, c.$beta)
  @include m.media(tablet, laptop, desktop)
    &:hover
      transform: scale(1.02)
  &:focus-visible
    transform: scale(1.02)

.btnShowAll
  display: flex
  align-items: center
  @include m.media(phone, tablet)
    margin-top: f.px(24)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(32)

.btnSetStudyFieldsToDefault
  @include m.media(phone, tablet)
    margin-bottom: f.px(40)
  @include m.media(laptop, desktop)
    width: 100%
    padding-top: f.px(16)
    border-top: 1px solid
    @include m.dye(border, c.$delta)
  text-align: initial

.IconPointerBottom
  max-width: f.px(12)
  margin-left: f.px(12)

.searchContainer
  position: relative
  display: flex

.searchInput
  display: flex
  align-items: center
  flex-basis: 100%
  padding-top: f.px(20)
  padding-right: f.px(72 + 16)
  padding-bottom: f.px(20)
  padding-left: f.px(16)
  border: 1px solid
  @include m.dye(border, c.$nu)
  &:focus-visible
    outline: none
    @include m.dye(border, c.$alpha)
  &::placeholder
    font-size: f.px(14)
    font-weight: 400
    line-height: 110%
    @include m.dye(c, c.$nu)

.iconSearchContainer
  position: absolute
  top: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  min-width: f.px(72)
  max-width: f.px(72)
  min-height: 100%
  max-height: 100%
  pointer-events: none
  @include m.dye(bg, c.$alpha)

.IconSearch
  min-width: f.px(24)
  max-width: f.px(24)
  min-height: f.px(24)
  max-height: f.px(24)

$filterBtnLeft_p_mr: 2.5%
$filterBtnLeft_t_mr: 5.3%
.filterBtns
  @include m.media(phone, tablet)
    margin-top: f.px(40)
    display: flex

.filterBtn
  @include m.media(phone, tablet)
    display: flex
    justify-content: space-between
    align-items: center
    min-width: initial
    overflow: hidden
    font-size: f.px(14)
  @include m.media(phone)
    flex-basis: math.div(100% - $filterBtnLeft_p_mr * 1, 2)
    padding: f.px(16)
    padding-top: f.px(16)
    padding-right: 3%
    padding-bottom: f.px(16)
    padding-left: 3%
  @include m.media(tablet)
    flex-basis: math.div(100% - $filterBtnLeft_t_mr * 1, 2)
    padding: f.px(20)

.btnText
  @include m.media(phone, tablet)
    flex-grow: 1
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    margin-left: auto
    margin-right: auto
  @include m.media(phone)
    max-width: 20ch
  @include m.media(tablet)
    max-width: 25ch

.IconPointerBottom
  @include m.media(phone, tablet)
    display: flex
    align-items: center
    min-width: f.px(12)
    max-width: f.px(12)
    min-height: f.px(12)
    max-height: f.px(12)
    margin-left: f.px(8)
  @include m.media(phone)
    right: 3%
  @include m.media(tablet)
    right: f.px(20)

.filterBtnLeft
  @include m.media(phone)
    margin-right: $filterBtnLeft_p_mr
  @include m.media(tablet)
    margin-right: $filterBtnLeft_t_mr

.GeneralPopup
  @include m.media(phone, tablet)
    display: flex
    flex-direction: column
    flex-grow: 1
    min-height: 100vh
    @include m.dye(bg, c.$upsilon)
  @include m.media(phone)
    padding-top: f.px(24)
    padding-right: f.px(16)
    padding-bottom: f.px(24)
    padding-left: f.px(16)
  @include m.media(tablet)
    padding-top: f.px(32)
    padding-right: f.px(64)
    padding-bottom: f.px(32)
    padding-left: f.px(64) 
  @include m.media(laptop, desktop)
    display: none

.heading
  @include m.media(phone, tablet)
    display: flex
    justify-content: space-between
    align-items: center

.GeneralLogo
  @include m.media(phone, tablet)
    max-width: f.px(264)

.IconCrossLink
  @include m.media(phone, tablet)
    outline: none
    &:focus-visible
      transform: scale(1.1)
      & .IconCross
        transform: scale(1.1)
      & line
        @include m.dye(stroke, c.$beta)

.IconCross
  @include m.media(phone, tablet)
    display: flex
    justify-content: center
    align-items: center
    min-width: f.px(24)
    max-width: f.px(24)
    min-height: f.px(24)
    max-height: f.px(24)
    transition: transform .15s ease-in-out, stroke .15s ease-in-out

.GeneralPopupTitle
  @include m.media(phone, tablet)
    margin: 0
    font-size: f.px(36)
  @include m.media(phone)
    margin-top: f.px(72)
    margin-bottom: f.px(48)
    &.GeneralPopupTitleChooseProgram
      margin-bottom: f.px(48 - 32)
  @include m.media(tablet)
    margin-top: f.px(64)
    &.GeneralPopupTitleChooseProgram
      margin-bottom: f.px(40 - 32)
    margin-bottom: f.px(40)

.GeneralPopupStudyFieldsSearchContainer
  position: relative
  margin-bottom: f.px(40)
  
.GeneralPopupStudyFieldsSearch
  padding-top: f.px(20)
  padding-right: f.px( 60 + 16)
  padding-bottom: f.px(20)
  padding-left: f.px(16) 
  min-width: 100%
  max-width: 100%
  border: 1px solid
  @include m.dye(border,  c.$nu)
  outline: none
  &:focus
    @include m.dye(border, c.$alpha)
  &::placeholder
    @include m.dye(c, c.$nu)

.highligher
  @include m.dye(bg, c.$zeta)


.list
  @include m.media(phone, tablet)
    margin: 0
    padding: 0

.listItem
  @include m.media(phone, tablet)
    display: flex
    flex-grow: 1
    min-width: 100%
    & + .listItem
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        min-width: calc(100% - f.px(24 + 16 + 1))
        max-width: 100%
        height: 1px
        @include m.dye(bg, c.$delta)

.listItemLink
  @include m.media(phone, tablet)
    display: flex
    align-items: center
    flex-grow: 1
    // & .listItemLink
    //   padding-top: f.px(32)
    padding-top: f.px(32)
    padding-bottom: f.px(32)
    outline: none
    &.isActive
      & .listItemLinkCircle
        position: relative
        padding: f.px(4)
        &::after
          content: ''
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          min-width: 100%
          max-width: 100%
          min-height: 100%
          max-height: 100%
          border-radius: inherit
          border: 4px solid
          @include m.dye(border, c.$upsilon)
          @include m.dye(bg, c.$beta)
    &:focus-visible
      & .listItemLinkCircle
        @include m.dye(border, c.$beta)
      & .listItemLinkLabel
        font-weight: 700
        @include m.dye(c, c.$beta)
  @include m.media(tablet)
    &:hover
      & .listItemLinkCircle
        @include m.dye(border, c.$beta)
      & .listItemLinkLabel
        // font-weight: 700
        @include m.dye(c, c.$beta)

.listItemLinkCircle
  @include m.media(phone, tablet)
    align-self: flex-start
    min-width: f.px(24)
    max-width: f.px(24)
    min-height: f.px(24)
    max-height: f.px(24)
    margin-right: f.px(16)
    border-radius: 50%
    border: 1px solid
    @include m.dye(border, c.$delta)
    transition: border .15s ease-in-out, background-color .15s ease-in-out

.listItemLinkLabel
  @include m.media(phone, tablet)
    font-size: f.px(18)
    font-weight: 400
    line-height: 110%
    transition: color .15s ease-in-out
    @include m.dye(c, c.$omega)

.listItemLinkDescription
  @include m.media(phone, tablet)
    margin: 0
    margin-top: f.px(16)
    font-size: f.px(14)
    font-weight: 400
    line-height: 110%
    @include m.dye(c, c.$psi)

.BtnAlphaApplyStudyFields
  @include m.media(phone, tablet)
    margin-top: f.px(32)
  @include m.media(tablet)
    margin-top: f.px(40)
    padding-left: 5%
    padding-right: 5%
    max-width: 50%

.CardsProgram
  &.cardsProgram
    margin-top: f.px(78)

.highlight
  @include m.dye(c, c.$beta)

.phoneTablet
  @include m.media(laptop, desktop)
    display: none

.laptopDesktop
  @include m.media(phone, tablet)
    display: none

.tabletLaptopDesktop
  @include m.media(phone)
    display: none

.phone
  @include m.media(tablet, laptop, desktop)
    display: none