@use 'sass:math'
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/section' as section

.container
  // @include section.gap

.heading
  display: flex
  justify-content: space-between
  align-items: center
  @include m.media(phone)
    margin-bottom: f.px(48)
  @include m.media(tablet)
    margin-bottom: f.px(40)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(64)

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(36)
  @include m.media(laptop, desktop)
    font-size: f.px(64)
  font-weight: 700
  line-height: 110%

.programsCounter
  margin: 0
  padding-left: f.px(3)
  padding-right: f.px(3)
  font-size: f.px(20)
  font-weight: 700
  line-height: 110%
  @include m.dye(bg, c.$zeta)

.searchContainer
  display: flex
  @include m.media(laptop, desktop)
    min-width: f.px(380)
    width: 50.6%
    max-width: 50.6%
  box-shadow: 0px 0px 45px rgba(218, 218, 218, 0.58)

.search
  flex-grow: 1
  padding-top: f.px(20)
  padding-right: f.px(16)
  padding-bottom: f.px(20)
  padding-left: f.px(16)
  border: 1px solid transparent
  font-size: f.px(16)
  font-weight: 400
  line-height: 110%
  &:focus-visible
    outline: none
    @include m.dye(border, c.$alpha)
  &::placeholder
    font-size: f.px(14)
    @include m.dye(c, c.$chi)

.iconSearchContainer
  padding-top: f.px(16)
  padding-right: f.px(24)
  padding-bottom: f.px(16)
  padding-left: f.px(24)
  @include m.dye(bg, c.$alpha)

.IconSearch
  min-width: f.px(24)
  max-width: f.px(24)
  min-height: f.px(24)
  max-height: f.px(24)

.content
  display: flex
  @include m.media(phone, tablet)
    margin-top: f.px(32)
  @include m.media(laptop, desktop)
    margin-top: f.px(64)

$left_ld_mr: 11.6%
.left
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    flex-basis: 24%
    margin-right: $left_ld_mr

.right
  @include m.media(laptop, desktop)
    flex-basis: 100% - 24% - $left_ld_mr

.GeneralSectionTitle
  @include m.media(phone)
    margin-top: f.px(64)
    margin-bottom: f.px(62)
  @include m.media(tablet)
    margin-top: f.px(64)
    margin-bottom: f.px(54)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(48)

.btnToggleFilters
  @include m.media(phone, tablet)
    font-size: f.px(14)
    font-weight: 400
    line-height: 110%
    @include m.dye(c, c.$gamma)
    &.filtersAreOpen
      margin-bottom: f.px(40)
      @include m.dye(c, c.$alpha)
  @include m.media(laptop, desktop)
    display: none

.filtersContainer
  @include m.media(phone)
    flex-direction: column
    margin-bottom: f.px(72)
  @include m.media(tablet)
    margin-bottom: f.px(64)
  @include m.media(phone, tablet)
    display: none
    &.filtersAreOpen
      display: flex

$GeneralProgramsFilters_t_mr: 9.2%
.GeneralProgramsFilters
  @include m.media(tablet)
    flex-basis: math.div(100% - $GeneralProgramsFilters_t_mr, 2)
    margin-right: $GeneralProgramsFilters_t_mr

.studyFields
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  @include m.media(phone)
    margin-top: f.px(48)
  @include m.media(tablet, laptop, desktop)
    flex-basis: math.div(100% - $GeneralProgramsFilters_t_mr, 2)
    gap: f.px(24) f.px(32)

.studyFieldItem
  display: flex
  flex-grow: 1
  @include m.media(phone)
    & + .studyFieldItem
      margin-top: f.px(24)
  @include m.media(phone, tablet)
    min-width: 100%
    max-width: 100%

.btnStudyField
  @include m.media(phone, tablet)
    padding-left: 5%
    padding-right: 5%
  min-width: 100%
  max-width: 100%
  padding-top: f.px(8)
  padding-bottom: f.px(8)

.CardsProgram
  &.cardsProgram
    margin-top: f.px(78)

.highlight
  @include m.dye(c, c.$beta)

.phoneTablet
  @include m.media(laptop, desktop)
    display: none

.laptopDesktop
  @include m.media(phone, tablet)
    display: none

.tabletLaptopDesktop
  @include m.media(phone)
    display: none
    
.phone
  @include m.media(tablet, laptop, desktop)
    display: none