@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/general' as g
@use '@/styles/shared/section' as section

.container
  @include section.gap

.diplomas
  @include m.flex($fw: wrap, $jc: space-between)
  margin: 0
  padding: 0

.diploma
  @include m.media(phone)
    @include m.flex($fd: column, $fb: 100%)
    margin-bottom: f.px(48)
    &:nth-last-child(1)
      margin-bottom: 0  
  @include m.media(tablet)
    @include m.flex($fd: column, $fb: 48%)
    margin-bottom: f.px(40)
    &:nth-last-child(-n+2)
      margin-bottom: 0
  @include m.media(laptop, desktop)
    @include m.flex($fd: column, $fb: 32%)
    margin-bottom: f.px(40)
    &:nth-last-child(-n+3)
      margin-bottom: 0