@use 'sass:math'
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use '@/styles/shared/section' as section

.container
  @include section.gap($bottomOnly: true)

.top
  @include m.media(laptop, desktop)
    display: flex
    align-items: flex-start

.heading
  @include m.media(laptop, desktop)
    flex-basis: 68%
    margin-right: 100% - 68% - 25%

.right
  @include m.media(phone, tablet)
    margin-top: f.px(32)
  @include m.media(laptop, desktop)
    flex-basis: 25%

.img
  @include m.media(phone, tablet)
    display: flex
    justify-content: center
    align-items: center

.discount
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  max-width: 7ch
  max-width: max-content
  aspect-ratio: 1 / 1
  margin-top: f.px(32)
  padding: f.px(35)
  border-radius: 50%
  font-size: f.px(32)
  font-weight: 400
  line-height: 120%
  @include m.dye(bg, c.$beta)
  @include m.dye(c, c.$upsilon)

.title
  margin: 0
  max-width: 30ch
  @include m.media(phone, tablet)
    font-size: f.px(36)
  @include m.media(laptop, desktop)
    font-size: f.px(64)
  line-height: 110%
  @include m.dye(c, c.$beta)

.description
  margin-bottom: 0
  @include m.media(phone)
    margin-top: f.px(24)
    font-size: f.px(18)
  @include m.media(tablet)
    margin-top: f.px(24)
    font-size: f.px(16)
  @include m.media(laptop, desktop)
    margin-top: f.px(32)
    font-size: f.px(18)
  font-weight: 500
  line-height: 130%

.btns
  @include m.media(phone)
    margin-top: f.px(48)
  @include m.media(tablet)
    display: flex
    flex-direction: column
    margin-top: f.px(40)
  @include m.media(laptop, desktop)
    display: flex
    margin-top: f.px(56)

.btn
  @include m.media(phone, tablet)
    margin-bottom: f.px(24)
  @include m.media(laptop, desktop)
    min-width: f.px(263)
    &:nth-child(1)
      margin-right: f.px(49)

.testimonials
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  @include m.media(phone)
    margin-top: f.px(72)
  @include m.media(tablet)
    margin-top: f.px(64)
  @include m.media(laptop, desktop)
    margin-top: f.px(80)

$item_tld_mr: 7.2%
$item_l_mr: 3.4%
.testimonialItem
  &.atAdditional
    @include m.media(laptop)
      flex-basis: math.div((100% - $item_l_mr * 4), 5)
      margin-right: $item_l_mr
      &:nth-child(5n)
        margin-right: 0
      &:nth-child(-n+5)
        margin-top: 0
    @include m.media(desktop)
      flex-basis: math.div((100% - $item_tld_mr * 4), 5)
      &:nth-child(5n)
        margin-right: 0
      &:nth-child(-n+5)
        margin-top: 0
  display: flex
  flex-direction: column
  @include m.media(phone, tablet)
    flex-basis: math.div((100% - $item_tld_mr), 2)
    margin-top: f.px(32)
    &:nth-child(odd)
      margin-right: $item_tld_mr
    &:nth-child(-n+2)
      margin-top: 0
  @include m.media(laptop, desktop)
    flex-basis: math.div((100% - $item_tld_mr * 3), 4)
    margin-top: f.px(32)
    margin-right: $item_tld_mr
    &.notAtAdditional
      &:nth-child(4n)
        margin-right: 0
      &:nth-child(-n+4)
        margin-top: 0

.testimonialTop
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: f.px(16)

.testimonialHint
  margin-left: 8%
  outline: none
  transition: transform .15s ease-in-out
  text-decoration-color: inherit
  @include m.dye(c, c.$beta)
  &:focus-visible
    transform: scale(1.15)

.testimonialHintOpen
  transform: scale(1.15)
  text-decoration: underline

.testimonialHintContentP
  margin-bottom: 0
  font-size: f.px(14)
  font-weight: 400
  line-height: 120%
  @include m.dye(c, c.$psi)

.testimonialStudyDurationHintTitle
  margin-bottom: 0
  font-size: f.px(12)
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$beta)
  
.testimonialDiplomaHintTitle
  border-radius: 50%
  @include m.dye(bg, c.$beta)

.IconInfo
  min-width: f.px(21)
  max-width: f.px(21)
  min-height: f.px(21)
  max-height: f.px(21)

.testimonialHintPopupContent
  min-width: 22ch
  max-width: 22ch
  padding: f.px(24)
  box-shadow: 0 0 f.px(45) rgba(218, 218, 218, 0.58)
  // transform: translateY(f.px(-5))
  @include m.dye(bg, c.$upsilon)

.testimonialLabel
  margin-bottom: 0
  @include m.media(phone, laptop, desktop)
    font-size: f.px(14)
  @include m.media(tablet)
    font-size: f.px(13)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$psi)

.testimonialVal
  margin-top: f.px(8)
  margin-bottom: 0
  @include m.media(phone, laptop, desktop)
    font-size: f.px(18)
  @include m.media(tablet)
    font-size: f.px(16)
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$alpha)

.highlight
  font-weight: 700
  @include m.dye(c, c.$beta)

.bold
  font-weight: 700