@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

*,
*:before,
*:after
  box-sizing: inherit

html, body
  // @include m.media(phone)
  //   font-size: 1rem
  //   // font-size: 3vmin
  //   // font-size: 30px
  //   // font-size: 1.5rem
  //   // font-size: 2vw
  // @include m.media(tablet)
  //   font-size: 1.2rem
  // @include m.media(laptop)
  //   font-size: 0.9rem
  // @include m.media(desktop)
  //   font-size: 1rem

html
  box-sizing: border-box
  font-family: sans-serif
  // scroll-behavior: smooth

h1
  overflow-wrap: break-word

svg
  width: 100%
  height: 100%

a, button
  cursor: pointer

section
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(50))
  @include m.media(laptop, desktop)
    @include m.gap($pb: f.px(115))